.flowBody {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-content: center;
}

.flowSlider{
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid black;
    width: 50vw;
    background: transparent;
    color: red;
    outline: none;
}

.flowSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0FA3B1;
    cursor: pointer;
}

.naButton{
    width: 25vw;
    height: auto;
    margin: 2px auto;
    padding: 10px;
    font-size: var(--small-text-size);
    background-color: var(--button-color);
    color: var(--text-color);
    text-align: center;
}
.naButton:hover{
    color: var(--text-hover-color);
}

.doneButton {
    width: 25vw;
    height: auto;
    margin: 2px auto;
    padding: 10px;
    font-size: var(--small-text-size);
    background-color: var(--button-color);
    color: var(--text-color);
    text-align: center;
}
.doneButton:hover{
    color: var(--text-hover-color);
}