.dayStatsContainer{
    position: relative;
}

.dayStatControls{
    position: absolute;
}

.centerTextName{
    font-size: var(--medium-text-size);
}

.centerTextDuration{
    font-size: var(--medium-text-size);
}