.dayStatsContainer{
    position: relative;
}

.dayStatControls{
    position: absolute;
    font-size: var(--small-text-size);
    width: 15vw;
}


.centerText{
    pointer-events: none;
    position: absolute;
}

.centerTextName{
    font-size: var(--small-text-size);
    width: fit-content;
}

.centerTextDuration{
    font-size: var(--small-text-size);
    width: fit-content;
}

@media only screen and (max-width: 600px) {
    .dayStatsContainer{
        display: none;
    }
}