.hourCover{
    position: absolute;
    pointer-events: none;
    width: 100%;
    left: 0;
}

.hourCoverHour{
    min-height: 5vh;
    text-align: right;
    color: var(--hour-text-color);
    background-color: transparent;
    box-sizing: border-box;
    font-size: var(--small-text-size);
}

.line{
    background: linear-gradient(90deg, transparent 25%, var(--hour-line-color) 100%);
    height: 2px;
}


@media only screen and (max-width: 600px) {


}