/*
color scheme
#F46036 - orange
#FCECC9 - beige
#0FA3B1 - teal
#E71D36 - red
#9FF55F - lime
*/

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto+Mono|Share+Tech+Mono&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Major Mono Display', monospace;
    --text-color: rgb(255, 255, 255);
    --text-hover-color: rgb(87, 86, 86);
    --task-border-color: rgb(230,255,245);
    --body-color: rgb(255, 246, 233);
    --task-background-color: rgb(163, 245, 95);
    --task-cover-color: rgb(240, 84, 23);
    --button-color: #0FA3B1;
    --add-task-color: #0FA3B1;
    --hour-text-color: rgba(87, 86, 86, 1);
    --hour-line-color: rgba(87, 86, 86, 1);
    --sideBar-background-color: rgb(87, 86, 86);
    --sideBar-button-color: rgb(240, 84, 23);
    --sideBar-button-hover-color: rgb(240, 84, 23);
    --sideBar-Element-color: rgb(230,255,245);
    --large-text-size: 10vh;
    --medium-text-size: 7.5vh;
    --small-text-size: 5vh;
    --very-small-text-size: 3.5vh;
    user-select: none;
    font-weight: 600;
}

body {
    background-color: var(--body-color);
    width: 100%;
}

.mainBody{
    width: 100%;
}

.tasksContainer{
    width: 100%;
}

.sideBarContainer{
    height: 100vh;
    z-index: 100;
    position: fixed;
}


@media only screen and (max-width: 600px) {
    *{
        --large-text-size: 15vw;
        --medium-text-size: 10vw;
        --small-text-size: 5vw;
    }

    body {
      background-color: lightblue;
    }

    .mainBody{
        font-size: var(--medium-text-size);
        padding-top: 1.6ex;
    }
  }