.sideBar{
    background-color: var(--sideBar-background-color);
    width: 70vw;
    height:inherit;
    display:inline-block;
    overflow-x: hidden;
    overflow-y: auto;
}

.closeSideBar{
    width: 30vw;
    height: inherit;
    display:inline-grid;
    grid-template-columns: auto;
    align-content: center;
    position: fixed;
}
.closeSideBar div{
    font-size: var(--large-text-size);
    color: var(--sideBar-button-color);
    text-align:center;
    width: 1em;
    overflow-wrap: break-word;
    margin: auto;
}

.showSideBar{
    position: fixed;
    z-index: 100;
    color: var(--text-color);
    background-color: var(--sideBar-button-color);
    font-size: var(--small-text-size);
    height: 100vh;
    width: 1em;
    overflow-wrap: break-word;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 5px;
}
.showSideBar:hover{
    color: var(--text-hover-color);
}

.hideSideBar{
    color: var(--text-color);
    background-color: var(--sideBar-button-color);
    font-size: var(--medium-text-size);
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.hideSideBar:hover{
    color: var(--text-hover-color);
}

.sideBarElement{
    border-bottom: 1px solid var(--task-border-color);
}

.sideBarElementTitle{
    font-size: var(--medium-text-size);
    color: var(--text-color);
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.sideBarElementTitle:hover{
    background-color: var(--sideBar-button-color);
}

.sideBarElementText{
    font-size: var(--small-text-size);
}

.sideBarElementContent{
    border-top: 1px solid var(--task-border-color);
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--text-color);
}

.sideBarElementButtonHover:hover{
    color: var(--sideBar-button-hover-color);
}

@media only screen and (max-width: 600px) {

    .showSideBar{
        background-color: var(--sideBar-button-color);
        font-size: var(--medium-text-size);
        height: 1.5ex;
        width: 100%;
    }

    .closeSideBar{
        width: 100%;
        height: 10%;
        border: 1px solid red;
        display:inline-grid;
        grid-template-columns: auto;
        align-content: center;
    }
    .closeSideBar h1{
        width: 100%;
    }

    .sideBar{
        background-color: var(--sideBar-background-color);
        width: 100%;
        height: 90%;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .sideBarContainer{
        width: 100%;
        height: 100vh;
    }
}