.sideBar{
    background-color: rgba(87, 86, 86, 0.95);
    width: 70vw;
    height:inherit;
    display:inline-block;
}

.closeSideBar{
    width: 30vw;
    height: inherit;
    display:inline-grid;
    grid-template-columns: auto;
    align-content: center;
    position: fixed;
}
.closeSideBar h1{
    font-size: var(--large-text-size);
    color: var(--sideBar-button-color);
    text-align:center;
}

.showSideBar{
    position: fixed;
    z-index: 100;
    background-color: var(--sideBar-button-color);
    font-size: var(--small-text-size);
    height: 100vh;
}
.showSideBar:hover{
    background-color: var(--text-hover-color);
}

.hideSideBar{
    background-color: var(--sideBar-button-color);
}
.hideSideBar:hover{
    background-color: var(--text-hover-color);
}


@media only screen and (max-width: 600px) {
    .showSideBar{
        font-size: var(--medium-text-size);
    }
}