.sideBar{
    background-color: var(--sideBar-background-color);
    width: 70vw;
    height:inherit;
    display:inline-block;
    overflow-x: hidden;
    overflow-y: auto;
}

.closeSideBar{
    width: 30vw;
    height: inherit;
    display:inline-grid;
    grid-template-columns: auto;
    align-content: center;
    position: fixed;
}
.closeSideBar h1{
    font-size: var(--large-text-size);
    color: var(--sideBar-button-color);
    text-align:center;
}

.showSideBar{
    position: fixed;
    z-index: 100;
    color: var(--text-color);
    background-color: var(--sideBar-button-color);
    font-size: var(--small-text-size);
    height: 100vh;
}
.showSideBar:hover{
    color: var(--text-hover-color);
}

.hideSideBar{
    color: var(--text-color);
    background-color: var(--sideBar-button-color);
    font-size: var(--medium-text-size);
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.hideSideBar:hover{
    color: var(--text-hover-color);
}

.sideBarElement{
    border-bottom: 1px solid var(--task-border-color);
}

.sideBarElementTitle{
    font-size: var(--medium-text-size);
    color: var(--text-color);
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.sideBarElementTitle:hover{
    background-color: var(--sideBar-button-color);
}

.sideBarElementContent{
    border-top: 1px solid var(--task-border-color);
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--text-color);
}

.sideBarElementButtonHover:hover{
    color: var(--sideBar-button-hover-color);
}

@media only screen and (max-width: 600px) {
    .sideBarContainer{
        display: none;
    }

    .showSideBar{
        display: none;
    }

}