.task{
    border-bottom: 5px solid var(--task-border-color);
    box-sizing: border-box;
    z-index: -3;
    display: grid;
    width: 100%;
}

.taskBody{
    width: 100%;
    color: var(--text-color);
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    overflow: hidden;
}
.taskBody:hover{
    color: var(--text-hover-color);
}

.taskBackground{
    background-color: var(--task-background-color);
    width: 100%;
    z-index: -2;
    position: absolute;
}

.taskViewing{
    height: 45vh;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
}

.taskViewingButton{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    border: none;
    font-size: var(--small-text-size);
    background-color: var(--button-color);
    color: white;
}
.taskViewingButton:hover{
    color:  var(--text-hover-color);
}

.taskViewingCover{
    background-color: var(--task-cover-color);
    z-index: -1;
    width: 100%;
    position: absolute;
}

.taskSelectButton{
    min-height: 10vh;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    padding-right: 2em;
    padding-left: 1em;
}

.taskName{
    text-align: center;
    z-index: 10;
    height: auto;
    font-size: var(--medium-text-size);
}

.taskTime{
    text-align: center;
    z-index: 10;
    height: auto;
    font-size: var(--medium-text-size);
}

.taskObjectives{
    height: fit-content;
}

.taskObjective, .addObjectiveForm{
    border-top: 1px solid var(--task-border-color);
    color: var(--text-color);
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    text-align: center;
}

.taskObjective button, .addObjectiveForm button{
    height: auto;
    align-content: center;
    font-size: var(--small-text-size);
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
}

.taskObjective button:hover, .addObjectiveForm button:hover{
    color: var(--text-hover-color);
}

.taskObjectiveName, .addObjectiveInput{
    font-size: var(--small-text-size);
    overflow: hidden;
    overflow-wrap: break-word;
    padding-left: 1em;
}

.addObjectiveForm input{
    text-align: center;
    border:none;
    font-size: var(--small-text-size);
    color: var(--text-color);
    border-bottom: 2px solid var(--task-border-color);
}

@media only screen and (max-width: 600px) {
    .taskSelectButton{
        grid-template-columns: auto;
        grid-row-gap: 10px;
        min-height: 10vh;
    }

    .taskViewing{
        grid-row-gap: 10px;
        grid-template-columns: auto;
        height: fit-content;
    }

    .taskViewingButton{
        width: 75vw;
        height: 10vh;
        border-radius: 1px;
    }
}