/*
color scheme
#F46036 - orange
#FCECC9 - beige
#0FA3B1 - teal
#E71D36 - red
#9FF55F - lime
*/

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto+Mono|Share+Tech+Mono&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Major Mono Display', monospace;
    --text-color: rgb(255, 255, 255);
    --text-hover-color: rgb(87, 86, 86);
    --task-border-color: rgb(230,255,245);
    --body-color: rgb(255, 246, 233);
    --task-background-color: rgb(163, 245, 95);
    --task-cover-color: rgb(240, 84, 23);
    --button-color: #0FA3B1;
    --add-task-color: #0FA3B1;
    --hour-text-color: rgba(87, 86, 86, 1);
    --hour-line-color: rgba(87, 86, 86, 1);
    --large-text-size: 10vh;
    --medium-text-size: 7.5vh;
    --small-text-size: 5vh;
    user-select: none;
}

body {
    background-color: var(--body-color);
}

.task{
    border-bottom: 5px solid var(--task-border-color);
    box-sizing: border-box;
    z-index: -3;
    display: grid;
}

.taskBody{
    width: 90%;
    color: var(--text-color);
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-content: center;
}
.taskBody:hover{
    color: var(--text-hover-color);
}

.taskBackground{
    background-color: var(--task-background-color);
    width: 100%;
    z-index: -2;
    position: absolute;
}

.taskViewing{
    height: 50vh;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
}

.taskViewingButton{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    border: none;
    font-size: var(--small-text-size);
    background-color: var(--button-color);
    color: white;
}
.taskViewingButton:hover{
    color:  var(--text-hover-color);
}

.taskViewingCover{
    background-color: var(--task-cover-color);
    z-index: -1;
	width: 100%;
	position: absolute;
}

.taskSelectButton{
    min-height: 10vh;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;    
}

.taskUpDownButtons{
    height: auto;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
}

.taskUpDownButtons button{
    height: auto;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    z-index: 10;
    font-size: var(--small-text-size);
    background-color: var(--button-color);
    color: var(--text-color);
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 2px;
}
.taskUpDownButtons button:hover{
    color: var(--text-hover-color);
}

.taskName{
    text-align: center;
    z-index: 10;
    height: auto;
    font-size: var(--medium-text-size);
}

.taskTime{
    text-align: center;
    z-index: 10;
    height: auto;
    font-size: var(--medium-text-size);
}

.hourCover{
    position: absolute;
    pointer-events: none;
    width: 100%;
}

.hourCover h1{
    min-height: 5vh;
    text-align: right;
    color: var(--hour-text-color);
    width : 100%;
    border-bottom: 1px dashed var(--hour-line-color);
    background-color: transparent;
    box-sizing: border-box;
    font-size: var(--small-text-size);
}

.addTaskButton{
    width: 100%;
    font-size: var(--large-text-size);
    background-color: var(--button-color);
    text-align: center;
    padding-bottom: 10px;
}

.addTaskButton h1{
    font-size: var(--large-text-size);
    color: var(--text-color);
    position: relative;
    z-index: 10;
}
.addTaskButton h1:hover{
    color: var(--text-hover-color);
}

.addTaskForm{
    background-color: var(--add-task-color);
    padding: 10px;
}

.addTaskForm input{
    display:block;
    margin: auto;
    width: 25vw;
    height: 2.5vw;
    text-align:center;
    margin-bottom: 1px;
    font-size: var(--small-text-size);
    border: none;
    border-radius: 2px;  
}

.taskInput button{
    margin: auto;
    display:block;
    width: 25vw;
    height: 5vw;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    color: var(--text-color);
    background-color: var(--task-background-color);
    font-size: var(--medium-text-size);
}
.taskInput button:hover{
    color: var(--text-hover-color);
}

@media only screen and (max-width: 600px) {

    *{   
        --large-text-size: 10vw;
        --medium-text-size: 7.5vw;
        --small-text-size: 5vw;
    }

    body {
      background-color: lightblue;
    }

    .taskSelectButton{
        grid-template-columns: auto;
        grid-row-gap: 10px;
    }
    
    .taskUpDownButtons button{
        height: 10vh;
    }

    .taskViewing{
        justify-content: space-evenly;
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: auto auto;
        align-content: center;
    }

    .taskViewingButton{
        width: 25vh;
        height: 25vh;
    }
  }