*{
    margin: 0px;
    padding: 0px;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.task{
    border-bottom: 5px solid rgba(255, 2, 255, 1);
    box-sizing: border-box;
}

.taskBody{
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-content: center;
}

.taskViewing{
    height: 50vh;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
}

.taskViewingBackground{
    background-color: green;
    width: 100%;
    height: 50vh;
    z-index: -2;
    position: absolute;
}

.taskViewingCover{
    background-color: red;
    z-index: -1;
	width: 100%;
	position: absolute;
}

.taskSelectButton{
    background-color: #9FF55F;
    min-height: 10vh;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;    
}

.taskUpDownButtons{
    background-color: #9FF55F;
    height: auto;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
}

.taskUpDownButtons button{
    height: auto;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    z-index: 10;
    font-size: 5vh;
}

.taskName{
    user-select: none;
    text-align: center;
    z-index: 10;
    height: auto;
    font-size: 7.5vh;
}

.taskTime{
    user-select: none;
    text-align: center;
    z-index: 10;
    height: 10vh;
    font-size: 7.5vh;
}

.taskStartButton{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    border: none;
}
.taskStartButton:hover{
    background-color: grey;
}

.taskAddTimeButton{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    border: none;
}
.taskAddTimeButton:hover{
    background-color: grey;
}

.hourCover{
    position: absolute;
    pointer-events: none;
    width: 100%;
}

.hourCover h1{
    min-height: 5vh;
    text-align: right;
    color: rgba(0, 0, 0, 0.9);
    width : 100%;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
    background-color: transparent;
    box-sizing: border-box;
}