.taskVIewing{
    border-bottom: 5px solid var(--task-border-color);
    box-sizing: border-box;
    z-index: -3;
    width: 100%;
    background-color: var(--task-background-color);
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
}

.taskViewingButtons{
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    height: 20vh;
}

.taskViewingButton{
    width: 30vw;
    height: 150%;
    border-radius: 2%;
    border: none;
    font-size: var(--small-text-size);
    background-color: var(--button-color);
    color: white;
}
.taskViewingButton:hover{
    color:  var(--text-hover-color);
}

.taskControls{
    border-top: 1px solid white;
}

.taskObjectives{
    height: 60vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.taskTime{
    text-align: center;
    z-index: 10;
    height: auto;
    font-size: var(--large-text-size);
    color: var(--text-color);
    padding-top: 10px;
}

.taskName{
    text-align: center;
    z-index: 10;
    height: auto;
    font-size: var(--medium-text-size);
    color: var(--text-color);
    padding-top: 10px;
}

@media only screen and (max-width: 800px) {

    .taskViewingButton{
        height: 15vh;
        border-radius: 1px;
        font-size: var(--very-small-text-size);
    }

    .taskObjectives{
        height: 60vh;
    }
}